{% extends 'base.html.twig' %}

{% block header %}
    <a href="{{ path('training_list') }}" class="btn btn-primary">Your training plans</a>
    <a href="{{ path('exercises_list') }}" class="btn btn-primary">List of exercises</a>
    <a href="{{ path('user_profile_edit') }}" class="btn btn-primary">Your profile</a>
    <a href="{{ path('_logout_main') }}" class="btn btn-warning">Logout</a>
{% endblock %}
