{% extends 'login_base.html.twig' %}

{% block content %}
    <div class="container col-4">
        <h1>
            List of trainings
        </h1>

        <div class="list-group">
            {% for training in trainings %}
                <a href="{{ path('training_show', {id: training.id}) }}" class="list-group-item">{{ training.name }}</a>
            {% endfor %}
        </div>

        </br>
        <a href="{{ path('training_create') }}" class="btn btn-primary">New training</a>
    </div>
{% endblock %}